.backI {
  height: 100%; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://cdn-cms.f-static.com/ready_uploads/media/1901/400_5cc9a507185c5.jpg');
  background-size: cover;
  background-position: center;
}
.about-container {
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    color: white;
    background: linear-gradient(to right, #020024, #154794, #13d1d1);
    z-index: 10;
    opacity: 0.9;
  }
  
  .about-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    animation: fadeIn 2s ease-in-out;

  }
  
  .about-content {
    font-size: 1.2rem;
    line-height: 1.8;
    animation: fadeIn 2.5s ease-in-out;

  }
  
  h2 {
    color: #00b3b3;
    margin-top: 30px;
  }

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: orange;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  